.Quiz {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background:#480563
}

.Quiz h1 {
    color: #ffffff;
    margin-left: 10px;
}

.QuizWrapper {
    width: 600px;
}